[Desktop Entry]
Categories=FileManager;Utility;Core;GTK;
Comment[de_DE]=Externe Datenträger
Comment=Externe Datenträger
Exec=dolphin computer:///
GenericName[de_DE]=
GenericName=
Icon=user-desktop
MimeType=inode/directory;inode/directory;
Name[de_DE]=Arbeitsplatz
Name=Arbeitsplatz
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
